{% extends "public.html" %} {% block title %} {{public_page_name}} {% endblock
%} {% block footer %}{% endblock %} {% block page_container %}
<q-page-container>
  <q-page>
    <div class="row justify-center q-mt-xl">
      <q-btn
        v-for="link in links"
        size="50px"
        rounded
        color="primary"
        :icon="link.icon"
        transition-show="fade"
        class="q-ml-md q-mt-md"
        ype="a"
        :href="link.link"
      >
        <q-tooltip><span v-text="link.name"></span></q-tooltip>
      </q-btn>
    </div>
  </q-page>
</q-page-container>
{% endblock %} {% block scripts %}
<style>
  .q-header,
  .q-footer {
    display: none;
  }
</style>
<script>
  links = {{ links | tojson }}
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        paymentRequest: '',
        paymentHash: '',
        invoicePaid: false,
        ownerDataId: '{{ owner_data_id }}',
        clientDataId: null,
        publicClientData: {},
        links: links
      }
    }
  })
</script>
{% endblock %}
